@import "tailwindcss";

body {
  background-color: #000000;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari, and Edge */
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for Firefox */
  .hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
